# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Flask / SQLite
instance/
*.db
*.sqlite3

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Pytest
.pytest_cache/
.coverage
htmlcov/
get-pip.py
